 @font-face {
     font-family: "roboto";
     src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
 }


 body {
     font-family: Arial;
     font-family: "roboto";
     margin: 0px;
     overflow-x: hidden;
 }

 label {
     display: block;
     margin-top: 10px;
     font-size: 20px;
     font-weight: 600;
     color: white;
     font-family: "roboto";
 }

 button {
     margin-top: 20px;
     padding: 8px 15px;
 }




 /* title elements */

 .title-background {
     width: 110vw;
     height: 60vh;
     display: flex;
     text-align: center;
     justify-content: center;
     flex-flow: column;
     background-image: linear-gradient(45deg, #0E0E5D 50%, #21A4E1);
     position: relative;
     z-index: 1;
     box-shadow: -50px 1px 15px 0px #000
 }

 svg {
     width: 25vw;
     height: 300px;
     position: absolute;
     z-index: 4;
     right: 0;
 }

 .circle1 {
     fill: transparent;
     stroke: #21A4E1;
     stroke-width: 2px;
     opacity: 10%;

 }

 .ellipses-container {
     transform: translate(160px, 0px);
     position: absolute;
     z-index: 3;
     right: 0;
 }

 .ellipse2 {
     transform: rotate(35deg) translate(-50px);
     height: 400px;
     width: 400px;
     background-image: linear-gradient(#12194E 40%, #21A4E1);
     content: "";
     clip-path: ellipse(120px 200px at 35% 40%);
     opacity: 50%;
 }

 .ellipse3 {
     height: 200px;
     width: 200px;
     background-image: linear-gradient(#21A4E1, #12194E 40%);
     content: "";
     clip-path: ellipse(100px 100px at 80% 0%);
     opacity: 50%;
     top: 0;
     position: absolute;
     right: 0;
     z-index: 4;
     opacity: 50%;
     transform: translate(40px)
 }

 .ellipse4 {
     height: 200px;
     width: 200px;
     background-image: linear-gradient(#21A4E1, #12194E 60%);
     content: "";
     clip-path: ellipse(100px 100px at 50% 50%);
     position: absolute;
     opacity: 50%;
     z-index: 4;
     right: 0;
     transform: translate(100px, 40px)
 }

 .main-title {
     font-size: 50px;
     margin-right: 70px;
     color: #00B5BC;
 }


 .title-description {
     font-size: 20px;
     margin-right: 70px;
     font-weight: normal;
     color: #00B5BC;
 }



 /* form designs */

 .main_form {
     width: 110vw;
     height: auto;
     background-color: #009ce5;
     margin: 0 auto;
     text-align: center;
     padding-top: 40px;
     padding-bottom: 40px;
 }

 .drop-down-container {
     display: flex;
     width: 50%;
     margin: 0 auto;
     justify-content: space-around;
     padding: 10px;
     padding-right: 100px;
 }


 .drop-down-container select {
     padding: 10px;
     border-radius: 10px;
     border: none;
 }

 .drop-down-container div {
     gap: 15px;
     display: flex;
     flex-flow: column;
 }

 .input-container {
     display: flex;
     width: 40%;
     margin: 30px auto;
     justify-content: space-around;
     padding-right: 100px;
 }

 .input-container input {
     padding: 10px;
     border-radius: 10px;
     border: none;
 }

 .input-container div {
     gap: 15px;
     display: flex;
     flex-flow: column;
 }


 /* submit button */
 form button {
     border-radius: 15px;
     border: none;
     padding: 15px;
     margin-right: 85px
 }



 .result-container {
     width: 110vw;
     margin-left: 0px;
     padding: 15px;
     text-align: center;
     background-image: linear-gradient(#009ce5, #0E0E5D);
 }

 .result-container div {
     display: flex;
     margin: 0 auto;
     justify-content: center;
     gap: 15vw;
     /* padding-left: 100px; */
 }

 .result-container p {
     color: #00B5BC;
 }

 .result-container h3 {
     color: #00B5BC;
     margin-right: 100px
 }